body{
    background: lightcyan;
}
.login{
    background: lightskyblue;
    text-align: center;
    margin-top: 100px;
}
fieldset{
    margin-left: 650px;
    margin-right: 10px;
}
.form-group{
    padding-top: 15px;
}
